/* main */
body {
	font-family: "PT Sans Narrow", "Arial", sans-serif ;
	font-weight: bold;
	font-size: 14px;
	color: #000000;
	line-height: 24px;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	background: #fbf8f5 url("../img/bg-wihte.jpg");
}
h2{
	margin-top: 0px;
	font-size: 30px;
	line-height: normal;
}
h3{
	font-size: 24px;
	line-height: normal;
	margin-top: 0;
	margin-bottom: 0;
}
.container{
	width: 940px;
	margin: auto;
}
.container a{
	text-decoration: none;
	color: #ffffff;
}
.clearfix::after{
	content:"";
	display: table;
	clear: both;
}
.btn{
	display: inline-block;
	vertical-align: top;
	margin-right: 16px;
	background-color: #000000;
	width: 140px;
	height: 43px;
	line-height: 43px;
	cursor: pointer;
	text-align: center;
	border: none;
	outline: none;
}
.btn:hover,
.btn:active {
	background-color:#663d15;
}
.btn:disabled {
  cursor: default;
  opacity: .5;
}
.btn:disabled:hover {
  background: #000000;
}

/* 1. header */

.main-header{
	font-size: 16px;
	margin-bottom: 50px;
	background-color: #000000;
}
.main-navigation{
	float: left;
	width: 680px;
}
.main-navigation ul{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0;
}
.main-navigation li{
	font-size: 16px;
	display: inline-block;
	vertical-align:top;
}
.main-navigation a{
	padding: 25px 20px;
	display: block;
}
.main-navigation a:hover{
	background-color:#242424;
}
.main-navigation .active a{
	position: relative;
}
.main-navigation .active a:after{
	content: "";
	position: absolute;
	height: 5px;
	background-color: white;
	bottom:0px;
	left:20px;
	right:20px;
}
.user-block{
	float: right;
	max-width: 140px;
	margin:0;
	padding:0;
}
.logo2{
	float: left;
	margin:0;
	padding-top:25px;
}
.login{
	display: inline-block;
	vertical-align: top;
	padding:25px 20px;
	padding-left: 50px;
	position: relative;
}

/* footer */

.main-footer{
	padding-top: 55px;
	padding-bottom: 30px;
	margin-top: 30px;
	color: #ffffff;
	background: #252525 url("../img/bg-footer.jpg");
}
.main-footer p{
	margin:0;
	margin-bottom: 15px;
}
.footer-contacts {
	float: left;
	margin-right: 70px;
	width: 310px;
}
.footer-contacts a{
	text-decoration: underline;
}
.footer-social{
	float: left;
	text-align: center;
	width: 180px;
}
.footer-copyright{
	float: right;
	width: 140px;
	text-align: center;
}
/*catalog*/

.caption-title{
	margin:0;
	margin-bottom: 20px;
}
.breadcrumbs{
	margin-bottom: 55px;
}
.breadcrumbs ul{
	padding:0;
	margin:0;
}
.breadcrumbs li a{
	color: #000000;
}
.breadcrumbs .active a{
	color: #b5b3b1;
}
.breadcrumbs li{
	display: inline-block;
	vertical-align: top;
	margin-right: 40px;
	position: relative;
}
.breadcrumbs li:last-child::after{
	width: 0;
	height: 0;
}
.left-column {
float: left;
width: 220px;
margin-right: 20px;
}
fieldset{
	padding: 0;
	border: none;
	margin-bottom: 35px;
}
fieldset h3{
	margin-top:-5px;
	margin-bottom: 23px;
}
.left-column input{
	display: none;
}
.left-column label{
	display: block;
	margin-bottom: 13px;
	padding-left: 40px;
	margin-left:0;
	position: relative;
}
label{
	display: block;
	margin-bottom: 20px;
	margin-left: 41px;
	position: relative;
}
label:hover{
	color:#663d15;
}
.left-column .btn{
	padding: 0;
	width: 112px;
	margin-top: 35px;
}
.catalog-items{
	float: right;
	width: 700px;
}
.catalog-item{
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 220px;
	padding-bottom: 15px;
	background-color: #ffffff;
	box-shadow: 0 0 10px -5px black;
}
.catalog-item:nth-child(3n){
	margin-right: 0;
}
.title-item{
	padding: 0 14px;
	background-color: #ffffff;
}
.title-item a{
	text-decoration: none;
	color: #000000;
}
.title-item span{
	display:block;
	margin:0;
	padding:0;
}
.title-item .name-item{
	text-transform: none;
	margin-top:-2px;
}
.buy-item{
	margin-top: 5px;
	text-align: center;
	background-color: #ffffff;
	font-size:0;
}
.price, .btn-buy{
	padding: 0;
	margin:0;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
}
.btn-buy{
	width: 78px;
	height:43px;
	text-align: center;
	line-height: 43px;
}
.price{
	width: 109px;
	height:43px;
	text-align: center;
	background-color: #e5e5e5;
	line-height: 43px;
}
.page{
	padding-top: 35px;
	clear: both;
	font-size: 0;
	margin-left: 240px;
	margin-bottom: 15px;
}
.page a{
	display: inline-block;
	vertical-align: top;
	width: 44px;
	font-size: 14px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	background-color: #000000;
	margin-right: 6px;
}
.page a:hover{
	background-color: #663d15;
}
.page a.current{
	background-color: #ffffff;
	color: #000000;
}

/* catalog-item */

.item-title{
	margin-bottom: 15px;
}
.gallery-slider {
	float:left;
	width: 460px;
}
.image-big{
	height: 498px;
	margin-bottom: 20px;
	box-shadow: 0 0 20px -5px black;
}
.image-small{
	margin-bottom: 17px;
}
.image-small img{
	margin-right: 20px;
	float: left;
	box-shadow: 0 0 20px -5px black;
}
.image-small img:last-child{
	margin-right: 0;
}
.description{
	float: right;
	width: 390px;
}
.first-row{
	width: 390px;
	margin-top:20px;
	margin-bottom: 30px;
}
.first-row .available{
	float: left;
}
.first-row .article{
	float: right;
	color: #aeaeae;
}
.about{
	width: 385px;
	margin-bottom: 35px;
}
.description .buy-item{
	text-align: left;
	background: none;
	margin-bottom: 60px;
}
.description .price {
	margin-left: 0;
}
.item-composition ul{
	padding: 15px;
}
.image-small img:last-child{
	margin-right: 0px;
}
.item-composition ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 17px;
	margin-top: 30px;
}
